
<ion-header>
  <ion-toolbar>
    <ion-title>
      Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/david.png"></ion-img><br>
      <ion-card-header>
        <ion-card-subtitle>David Belinchon</ion-card-subtitle>
        <ion-card-title>Desarrollo de Aplicaciones Web</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Azkoitia, Pais Vasco</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label><h2>Curriculum</h2></ion-label>
      </ion-list-header>
    <ion-text color="dark">
      <h2>Formación Academica</h2>
    </ion-text>
     <ion-text color="secondary">
      <h4>IES Zubiri manteo BHI</h4>
      <h5>Sistemas microinformáticos y redes</h5>
    </ion-text>
     <ion-text color="secondary">
      <h4>IES Zubiri manteo BHI</h4>
      <h5>Desarrollo de Aplicaciones Web</h5>
    </ion-text>

     <ion-text color="dark">
      <h2>Expeciencia</h2>
    </ion-text>

      <ion-text color="dark">
      <h4>Camarero</h4>
      <ion-text color="danger">Sanagustin Kulturgunea</ion-text>
      <p>Camarero actualmente en Sanagustin Kulturgunea </p>
      </ion-text>

      <ion-text color="dark">
      <h4>Especialista en embalaje y montaje</h4>
      <ion-text color="danger">Zelan</ion-text>
      <p>Ayudante en montaje de muebles y especialista en embalaje.</p>
      </ion-text>

      <ion-text color="dark">
      <h4>Técnico Informático</h4>
      <ion-text color="danger">Elkarmedia</ion-text>
      <p >Prácticas en Elkarmedia de técnico de administración de sistemas, arreglos de ordenadores, instalación de servidores, arreglos en oficinas (Ayuntamiento).</p>
      </ion-text>
     
    </ion-list>


</ion-content>
